# Environment

venv/
env/
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/

# Project specific
demo-data/
processed-data/
*.bin
*.pt

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db